<html>
    <head>
        <title>Editor</title>
    </head>
    <body ng-app = "myApp" ng-controller = "myCtrl">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link href = "editor.css" type = "text/css" rel = "stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
        <table>
            
            <p><b><div class = "header">Editor</div></b></p>
            <div class = "icons">
                <a href = "#" onclick= "copytoClipboard()">
                    <span class="fa fa-copy fa-3x fa-color"></span>
                </a>
                <a href = "#" onclick= "cuttoClipboard()">
                    <span class="fa fa-cut fa-3x fa-color"></span>
                </a>
                <a href = "#" onclick= "pastetoClipboard()">
                    <span class="fa fa-paste fa-3x fa-color"></span>
                </a>
                <a href = "#" onclick= "newFile()">
                    <span class="fa fa-file-alt fa-3x fa-color"></span>
                </a>
                <a href = "#" onclick= "exitFile()">
                    <span class="fa fa-window-close fa-3x fa-color"></span>
                </a>
                <a href = "#" onclick= "saveTextAsFile()">
                    <span class="fa fa-save fa-3x fa-color"></span>
                </a>
                <a href = "#" onclick= "openFileAsText()">
                    <span class="fa fa-caret-square-down fa-3x fa-color"></span>
                </a>
                <a href = "#" ng-click= "italicise()">
                    <span class="fa fa-italic fa-3x fa-color"></span>
                </a>
                <a href = "#" ng-click= "bold()">
                    <span class="fa fa-bold fa-3x fa-color"></span>
                </a>
                <a href = "#" ng-click= "underline()">
                    <span class="fa fa-underline fa-3x fa-color"></span>
                </a>
                <a href = "#" ng-click= "normal()">
                    <span class="fa fa-font fa-3x fa-color"></span>
                </a>
            </div>
            <tr>
                <td colspan="3">
                    <div contentEditable="true">
                        <textarea name = "text" id="inputTextToSave" cols="145" rows="27"></textarea></div>
                </td>
            </tr>
        </table>
        <div class = "edit">
            <p>Filename to Save As:
                <input ng-model = "inputFileNameToSaveAs" id="inputFileNameToSaveAs"></input>           
                
                Select a File to open:
                <input ng-model = "fileToopen" type="file" id="fileToopen">
            </p>

        
        </div>
        
        <script type="text/javascript" src = "editor.js">


        </script>
        
    </body>
</html>